code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration:none;

}

.hero-content {
  width: 100%;
  max-width: 600px;
  margin: 0 auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.custom-image {
  width: 100%;
  height: auto;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #e6dbdb;
  text-shadow: 2px 2px 4px #222020b3; 
}

@media only screen and (max-width: 768px) {
  .info-card-img {
    width : 100%;
    height:auto;
  }
}

@media only screen and (max-width: 578px) {
  #hero h1, #hero h2 {
    visibility: hidden;
  }
}